doctype html
html(lang="ko")
    head
        title 미니멀 블로그
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        main
            a(href="/") 홈으로
            h1 404
            h2 해당하는 게시글을 찾을 수 없습니다.